<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Display_System_Monitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Display_System_Monitor.Properties.Settings>
            <setting name="ServerIp" serializeAs="String">
                <value>172.17.2.105</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>6500</value>
            </setting>
            <setting name="ClientID" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="PSK" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="CanConnect" serializeAs="String">
                <value>True</value>
            </setting>
        </Display_System_Monitor.Properties.Settings>
    </userSettings>
</configuration>